:root {
  --font-primary: "Sora", sans-serif;
  --header-bg: #10375c;
}

html {
  font-family: var(--font-primary);
  font-size: 6.25%;
}

body {
  font-size: 16rem;
  font-weight: normal;
}

.header {
  padding-top: 30px;
  background: var(--header-bg);
  min-height: 100vh;
  font-size: 1rem;
}
.header-top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 10em;
}
.header-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  -moz-column-gap: 42em;
       column-gap: 42em;
  row-gap: 10em;
}
.header-item:first-child::before {
  position: absolute;
  content: "";
  width: 6em;
  height: 6em;
  background: white;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.header-item:first-child {
  padding-left: 14em;
}
.header-item {
  position: relative;
}
.header-link {
  font-size: 16em;
  color: #c9d2da;
  font-weight: 300;
  padding-block: 0.5em;
}
.header-link--active {
  color: white;
  font-weight: 400;
}
.header-call-action {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 28em;
  margin-left: 222rem;
}
.header-action:first-child > .header-btn {
  color: #c9d2da;
}
.header-btn {
  color: #ffffff;
  font-size: 16em;
}

.logo {
  display: inline-flex;
  align-items: flex-start;
}
.logo__circle, .logo__circle::after {
  display: inline-block;
  content: "";
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.logo__circle {
  position: relative;
  width: 30em;
  height: 30em;
  background: #2e80ce;
}
.logo__circle::after {
  position: absolute;
  width: 16em;
  height: 16em;
  background: white;
  top: 11em;
  right: 3em;
}
.logo__branch {
  display: block;
  font-weight: 400;
  font-size: 18em;
  color: #ffffff;
}
.logo__branch--small {
  font-size: 12em;
  font-weight: 300;
  align-items: end;
  text-align: right;
}
.logo__text {
  line-height: 16em;
  margin-left: 6em;
}

.hero {
  margin-top: 76rem;
  padding-bottom: 130rem;
  display: flex;
  flex-wrap: wrap;
  font-size: 16rem;
  color: white;
  align-items: center;
}
.hero__content {
  width: 44%;
  flex-shrink: 0;
}
.hero__media {
  flex: 1;
}
.hero__title {
  font-weight: 600;
  font-size: 70rem;
  line-height: 1.14;
  letter-spacing: -0.02em;
  margin-bottom: 22rem;
}
.hero__desc {
  font-weight: 300;
  font-size: 18rem;
  line-height: 1.67;
  color: #c9d2da;
  margin-bottom: 38rem;
}
.hero__action-desc {
  font-size: 18rem;
}
.hero__action {
  display: flex;
  align-items: center;
  -moz-column-gap: 39rem;
       column-gap: 39rem;
}
.hero__btn {
  --width: 205rem;
  --height: 60rem;
}
.hero__img {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hero__img img {
  border-radius: 6px;
}
.hero__img img:first-child {
  position: relative;
  width: 330rem;
  height: 540rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: -6rem;
}
.hero__img img:last-child {
  border-radius: 0 6px 6px 0;
  width: 210rem;
  height: 410rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  -ms-border-radius: 0 6px 6px 0;
  -o-border-radius: 0 6px 6px 0;
}/*# sourceMappingURL=style.css.map */